body {
    background-color: black;               
}
section { 
    display: flex; gap: 1px;
    width: 1450px;
 }
article { 
    width: 485px; border: #000;
    font-size: large;
}
article img {
    min-width: 100%; height: 250px; 
}
h1 {
    background-color: black;
    color: rgb(17, 71, 11);
    justify-content:space-evenly;
    max-width: 385px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.underover {
    background-color: black;
    color: rgb(17, 71, 11);
    justify-content:space-evenly;
    max-width: 425px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    background-color: #000;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}
h2 {
    background-color: #000;
    color: white;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 1450px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
}
h3 {
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
    display:grid;
    border: #000 4px;
}
aside {
    width: 1500px;
    border: white;
}
header {
    background-color: rgba(255, 255, 255, 0);
}
ul {
    background-color: #000;
    color: solid white;
    list-style-type: none;
}
img {
    border-radius: 15px;
    justify-content:left;
    align-items: left;
    transition: transform .10s; 

}
img:hover {
    transform: scale(1.05);
}
a {
    color:rgb(203, 115, 0);
    border:#000 1px;
    align-items: center;
    justify-content: space-evenly;
}
a:active {
   color: rgb(237, 193, 110);
   text-decoration: none;
}
a:hover {
    color:rgb(237, 193, 110);
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}
li {
    color: white;
    justify-content: flex-start;
}
button{
    justify-content: flex-end;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #000;
    position:sticky;
    height: 100%;
}
.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
}
.sidebar a.active {
    background-color: black;
    color: white;
}
.sidebar a:hover:not(.active) {
    background-color: #3c7a45;
    color: white;
  }
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: right;}
    div.content {margin-right: 0;}
  }
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
